* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  font-size: 20px;
}

nav {
  display: flex;
  height: 90px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  text-decoration: none;
  color: white;
  font-size: 37px;
  position: absolute;
  top: 25px;
  left: 10%;
}

.links {
  position: absolute;
  right: 12.15%;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.links > * {
  width: 150px;
  height: 85px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.links > *:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.home {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img[src*="goodreads"],
img[src*="github"] {
  margin-left: 11px;
  height: 27px;
  width: 27px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

img[src*="goodreads"]:hover,
img[src*="github"]:hover {
  transform: scale(1.2);
}

.quote-two,
.quote-one {
  position: absolute;
  left: 22px;
  top: 20%;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote {
  margin-bottom: 7px;
}

.author {
  width: 200px;
  border-top: 2px solid rgba(221, 172, 36);
}

/*link to the cart, pos relative for the red dot ( .cart-quantity )*/
.link-cart {
  position: relative;
  transition: none;
  height: 90px;
}

/* also when element moved ( position fixed ) and i was hovering, 
chrome started beign unresponsive thats why im  removing the zoom on the bag img*/
.link-cart:hover {
  transform: none;
}

/* el for both images - the bags and the red dot*/
.cart-icon {
  position: fixed;
  z-index: 10;
}

img[src*="bag"] {
  width: 35px;
  height: 35px;
}

.cart-quantity {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -7px;
}

.cart-page {
  display: flex;
  justify-content: center;
  position: relative;
}

.shop-button,
.checkout-btn {
  position: absolute;
  top: 36%;
  width: 190px;
  padding: 15px;
  border: 1px solid rgb(221, 172, 36);
  border-radius: 6px;
  font-size: 21px;
  background-color: rgb(221, 172, 36);
  color: white;
  font-weight: bold;
  transition: transform 0.2s;
}

.shop-button:hover,
.checkout-btn:hover {
  transform: scale(1.05);
  background-color: rgb(219, 165, 15);
}

/* always visible up and down arrows on inputs*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.quote-two {
  left: 79.5%;
}

.shop-page {
  position: relative;
  padding: 30px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 80px 20px;
}

.book-img {
  width: 250px;
  height: 400px;
}

.shop-button {
  padding: 10px;
  width: 150;
  top: 46%;
  right: 44%;
}

label,
.book-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  flex-direction: column-reverse;
  padding-top: 10px;
}

input {
  width: 80px;
  padding: 2px;
  font-size: 20px;
}
