* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  font-size: 20px;
}

nav {
  display: flex;
  height: 90px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  text-decoration: none;
  color: white;
  font-size: 37px;
  position: absolute;
  top: 25px;
  left: 10%;
}

.links {
  position: absolute;
  right: 11.6%;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.links > * {
  width: 150px;
  height: 85px;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.links > *:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.home {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer {
  height: 45px;
  background-color: rgba(187, 187, 187, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img[src*="github"] {
  margin-left: 11px;
  height: 27px;
  width: 27px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

img[src*="github"]:hover {
  transform: scale(1.2);
}

.quote-one {
  position: absolute;
  left: 22px;
  top: 20%;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote {
  margin-bottom: 7px;
}

.author {
  width: 200px;
  border-top: 2px solid rgba(221, 172, 36, 0.781);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1; /* visible up and down arrows on inputs*/
}
